# Pandas puzzles

Most the following exercises have been selected by UZH ZI & David Pinezich as part of the ZI APPD course. Inspired by [100 Numpy exerises](https://github.com/rougier/numpy-100), here is a short list of puzzles for testing your knowledge of [pandas'](http://pandas.pydata.org/) power. 

Since pandas is a large library with many different specialist features and functions, these excercises focus mainly on the fundamentals of manipulating data (indexing, grouping, aggregating), making use of the core DataFrame and Series objects. 

Many of the excerises here are stright-forward in that the solutions require no more than a few lines of code (in pandas or NumPy). Choosing the right methods and following best practices is the underlying goal.

If you're just starting out with pandas and you are looking for some other resources, the official documentation  is very extensive. In particular, some good places get a broader overview of pandas are...

- [10 minutes to pandas](http://pandas.pydata.org/pandas-docs/stable/10min.html)
- [pandas basics](http://pandas.pydata.org/pandas-docs/stable/basics.html)
- [tutorials](http://pandas.pydata.org/pandas-docs/stable/tutorials.html)
- [cookbook and idioms](http://pandas.pydata.org/pandas-docs/stable/cookbook.html#cookbook)

Enjoy!

## Importing pandas

### Getting started and checking your pandas setup

**1.** Import pandas under the name `pd`, and numpy under its alias `np`.

In [1]:
import pandas as pd

**2.** Print the version of pandas that has been imported.

In [2]:
pd.__version__

'2.3.3'

## DataFrame basics

### A few of the fundamental routines for selecting, sorting, adding and aggregating data in DataFrames

**3.** Load the data from `pd_puzzles.csv`. Assign the following list as indices: `['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']`.

In [11]:
df_puzzle = pd.read_csv("pd_puzzles.csv")
df_puzzle.index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df_puzzle

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

**4.** Display the basic information about this DataFrame and its data.

In [12]:
df_puzzle.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   animal    10 non-null     object
 1   age       8 non-null      float64
 2   visits    10 non-null     int64
 3   priority  10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 700.0+ bytes

**5.** Display the summary statistics about the data in the df.

In [13]:
df_puzzle.describe()

            age     visits
count  8.000000  10.000000
mean   3.437500   1.900000
std    2.007797   0.875595
min    0.500000   1.000000
25%    2.375000   1.000000
50%    3.000000   2.000000
75%    4.625000   2.750000
max    7.000000   3.000000

**6.** Select just the 'animal' and 'age' columns from the DataFrame `df`.

In [15]:
df_puzzle[["animal", "age"]]

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

**7.** Select the data in rows `[3, 4, 8]` *and* in columns `['animal', 'age']`.
(**hint**: df.index)

In [27]:
df_puzzle.iloc[[3,4,8]][["animal", "age"]]

  animal  age
d    dog  NaN
e    dog  5.0
i    dog  7.0

**8.** Select only the rows where the number of visits is greater than 2.

In [32]:
df_puzzle[df_puzzle["visits"]>2]

  animal  age  visits priority
b    cat  3.0       3      yes
d    dog  NaN       3      yes
f    cat  2.0       3       no

**9.** Select the rows where the age is missing, i.e. is `NaN`.
(**hint**: isna)

In [36]:
df_puzzle[df_puzzle["age"].isna()]

  animal  age  visits priority
d    dog  NaN       3      yes
h    cat  NaN       1      yes

**10.** Select the rows where the animal is a cat *and* the age is less than 3.

In [48]:
df_puzzle[(df_puzzle["animal"] == "cat") & (df_puzzle["age"] < 3)]

  animal  age  visits priority
a    cat  2.5       1      yes
f    cat  2.0       3       no

**11.** Change the age of the cat in row 'd' to 5.5. (**hint**: You can use both implicit or explicit indices)

**12.** Calculate the sum of all visits (the total number of visits).

**13.** Calculate the mean age for each different animal in `df`.

**14.** Append a new column 'newcol' to `df` with your choice of values for each column. Then delete that column to return the original DataFrame.

**15.** Append a new row to `df` for a 5 y.o. parrot on his second visit with no priority. Then delete that row again to return to the original DataFrame.

**16.** The 'priority' column contains the values 'yes' and 'no'. Replace this column with a column of boolean values: 'yes' should be `True` and 'no' should be `False`.

**17.** In the 'animal' column, change the 'snake' entries to 'python'.

**18.** Sort `df` first by the values in the 'age' in *decending* order, then by the value in the 'visit' column in *ascending* order.

**19.** Create a copy of the animal column, delete all duplicated rows and add another column with the biological family (dogs = canidae, cats = felidae, python = pythonidea), then merge the copy with the original dataframe.

**20.** For each animal type and each number of visits, find the mean age. In other words, each row is an animal, each column is a number of visits and the values are the mean ages (hint: use a pivot table).

**21.** Given a DataFrame of numeric values, say
```python
df2 = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values
```

how do you subtract the row mean from each element in the row?

**22.** Suppose you have DataFrame with 10 columns of real numbers, for example:

```python
df2 = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
```
Which column of numbers has the smallest sum? (Find that column's label.)

**23.** How do you count how many unique rows a DataFrame has (i.e. ignore all rows that are duplicates)? What about unique entries in each columns?

Use the follwing dataframe:
```python
df_3 = pd.DataFrame({
    "A": [1, 1, 2, 2, 3, 3, 3],
    "B": [10, 10, 20, 20, 30, 31, 30],
    "C": ["x", "x", "y", "y", "z", "z", "z"]
})
```